<!DOCTYPE html>
<html>

<head>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script src="http://localhost:4343/sdk/razorpay-sdk.js"></script>

</head>

<body>

<h2>Razorpay Payment Test</h2>

<button onclick="pay()">Pay ₹500</button>

<script>

function pay() {

  if (!window.RazorpayGateway) {

    alert("SDK not loaded");

    return;

  }

  RazorpayGateway.startPayment({

    amount: 500,

    backendUrl: "http://localhost:4343",

    successUrl: "http://localhost:5000/success",

    cancelUrl: "http://localhost:5000/cancel"

  });

}

</script>

</body>
</html>
